@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.all__center {
  text-align: center;
}

.all__center h2 {
  margin: 30px 0;
}

.all__center button {
  margin: 10px 0;
}
